.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: var(--padding-container);
}
.hero {
	@include medidas-altura(100%, 100vh);
	@include medidasv (grid, relative);
	min-height: 150px;
	max-height: 900px;
	grid-template-rows: 100px 1fr;
	color: $color_1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/escritura-astral.jpeg);
		background-size: cover;
	}
}
.hero_menu {
	display: none;
}
.nav {
	--padding-container: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.nav__title {
	font-weight: 300;
}
.nav__link {
	margin-left: auto;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 2em;
}
.nav__items {
	list-style: none;
}
.nav__links {
	color: $color_1;
	text-decoration: none;
}
.navbar {
	--padding-container: 0;
	height: 100%;
	display: flex;
	align-items: center;
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin: 10 20px;
			padding: 30px;
		}
	}
}
.hero__container {
	max-width: 800px;
	--padding-container: 0;
	display: grid;
	grid-auto-rows: max-content;
	align-content: center;
	gap: 1em;
	padding-bottom: 100px;
	text-align: center;
}
.hero__title {
	font-size: 1rem;
}
.hero__paragraph {
	margin-bottom: 20px;
}
header {
	font-size: 25px;
}