@media (min-width: 700px) {
	form {
		display: grid;
		grid-gap: 2.4rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.form-control {
		width: auto;
		margin: 0;
	}
	.message {
		grid-column: 2;
		grid-row: 1 / span 3;
	}
	.btn {
		justify-self: center;
		grid-column: span 2;
	}
}
@media (max-width:800px) {
	.nav__link--menu {
		@include medidasv(flex, absolute);
		@include medidas-altura(100%, 100%);
		@include medidas-elemento(space-evenly, end);
		background-color: $background-color_6;
		top: 0;
		left: 0;
		flex-direction: column;
		z-index: 100;
		opacity: 0;
		pointer-events: none;
		transition: .7s opacity;
	}
	.nav__link--show {
		--show: block;
		opacity: 1;
		pointer-events: unset;
	}
	.hero_menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $background-color_7;
		padding: 2rem;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
	}
	.hero__title {
		font-size: 2.5rem;
	}
	.about__main {
		gap: 2em;
	}
	.about__icons {
		&:last-of-type {
			grid-column: 1/-1;
		}
	}
	.knowledge__container {
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr;
		gap: 3em;
		text-align: center;
	}
	.knowledge__picture {
		grid-row: 1/2;
		justify-self: center;
	}
	.footer__container {
		flex-wrap: wrap;
	}
	.nav--footer {
		width: 100%;
		justify-items: center;
	}
	.nav__link--footer {
		width: 100%;
		justify-content: space-evenly;
		margin: 0;
	}
}
@media (max-width:600px) {
	.hero__title {
		font-size: 2rem;
	}
	.hero__paragraph {
		font-size: 1rem;
	}
	.subtitle {
		font-size: 1.8rem;
	}
	.footer__title {
		justify-self: start;
		margin-bottom: 15px;
	}
	.nav--footer {
		padding-bottom: 60px;
	}
	.nav__link--footer {
		justify-content: space-between;
	}
}
