.tarot__ {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.flip-card {
	@include medidas-altura(350px, 450px);
	background-color: $background-color_1;
	perspective: 1000px;
	margin: 20px;
	&:hover {
		.flip-card-inner {
			transform: rotateY(180deg);
		}
	}
}
.flip-card-inner {
	@include medidas-altura(100%, 100%);
	position: relative;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.flip-card-front {
	@include medidas-altura(100%, 100%);
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: $background-color_1;
}
.flip-card-back {
	@include medidas-altura(100%, 100%);
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: $color_3;
	transform: rotateY(180deg);
}