/*colors*/
$color_1: #fff;
$color_2: var(--color-title);
$color_3: white;
$color_4: #000;
$color_5: #9da1a5;
/*typography*/
$font-family_1: 'Poppins', sans-serif;
$font-family_2: helvetica;
$font-family_3: 'WindSong';
$font-family_4: 'Windsong';
$font-family_5: Verdana, Arial, sans-serif;
/*color secundary*/
$background-color_1: black;
$background-color_2: #e5e5f7;
$background-color_3: #1D293F;
$background-color_4: var(--accent);
$background-color_5: #fec810;
$background-color_6: #000;
$background-color_7: #1c1c1c;